@model IEnumerable<ThingsSales.Service.ViewModels.ItemViewModel>


<div>
    <a href="/CreateItem/Index" class="btn btn-primary">Add advertisement</a>
</div>

@foreach (var item in Model)
{
    <div class="container-item">
        <div class="row">
            <div class="col-4">
                @if (item.Photos.Any())
                {
                    var firstPhoto = item.Photos.FirstOrDefault();
                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(firstPhoto.ImageData)" alt="Item Photo" width="200" height="150" />
                }
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <h4>@item.Name</h4>
                    </div>
                    <div class="col-6 text-right">
                        <h6>@item.Price</h6>
                    </div>
                </div>
                <div class="item-info col-6">
                    <p>@item.City - @item.Time</p>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .container-item {
        height: 170px;
        background: white; 
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
        padding: 10px; 
        margin: 10px;
    }

    .item-info {
        margin-top: 90px;
        font-size: 14px;
        color: lightslategray;
    }
</style>