@model ThingsSales.Service.ViewModels.ItemUserViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="layer-photo-info">
        <div class="photo-item">
            <h2>Photo</h2>
            @foreach (var item in Model.AdvertisementModel.Photos)
            {
                <img class="photos" src="data:image/jpeg;base64, @Convert.ToBase64String(item.ImageData)" alt="Item Photo" width="500" height="360" />
            }
        </div>
        <div class="info-item">
            <p class="time-item">@Model.AdvertisementModel.Time</p>
            <h1>@Model.AdvertisementModel.Name</h1>
            <p class="fs-2">@Model.AdvertisementModel.Price$</p>
            <hr />

        </div>
    </div>
    <div class="layer-discription-city">
        <div class="discription-item">
            <h2>Description</h2>
            <p>@Model.AdvertisementModel.Description</p>
        </div>
        <div class="userprofile-item">
            <h3>Profile</h3>
            <p>@Model.UserModel.FirstName @Model.UserModel.LastName</p>
            <p>Phone: @Model.UserModel.PhoneNumber</p>
            <p>City: @Model.AdvertisementModel.City</p>
        </div>
    </div>
</div>

<style>
    .layer-photo-info {
        display: flex;
    }

    .photo-item {
        background-color: white;
        padding: 20px;
        width: 700px;
        height: 450px;
    }

    .photos{
        margin-left: 80px;
    }

    .info-item {
        position: absolute;
        background-color: white; 
        padding: 30px;
        width: 400px;
        height: 450px;
        margin-left: 745px;
    }

    .discription-item {
        position: absolute;
        background-color: white;
        padding: 20px;
        width: 700px;
        height: 450px;
    }

    .userprofile-item {
        padding: 20px;
        background-color: white;
        width: 400px;
        height: 250px;
        margin-left: 745px;
        margin-top: 25px;
    }

    .time-item{
        font-size: 14px;
        color: lightslategray;
    }
</style>